# Set
 1. To represent a group of unique velues as a single entity.
 2. Duplicates are not allowed
 3. insertion order is not preserved
 4. indexing and slicing are not allowed
 5. hetrogeeneous elements are allowed
 6. set object is mutable, we can change it's content based on our requirement.
 7. Set represent by curly braces with comma seperation

# Creation Of Set Object:

In [1]:
s = {10,20,30,40}
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [2]:
# We can create set objects by using set() funcion.
# s = set(any sequence)
l =[10,20,30,40,10,20,10]
s = set(l)
print(s)

{40, 10, 20, 30}

In [3]:
s = set(range(10))
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
# To create empty set
# s = set()
s = set()
print(s)

set()

# Important Function Of Set:


1) add(x) :       adds item x to the set

2) update(x,y,z): To add multiple items to the set

3) copy():        To returns copy of the set

4) pop():         To remove last element and return element from the set.

5) remove(x):     To remove specified element from the set.

6) discard(x):    To remove specified element from the set.

7) clear():       To remove all elements from the set.

# add() : adds item x to the set

In [9]:
# 1 add(x):  adds item x to the set

s= {10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

In [10]:
# add element in an empty set
s = set()
s.add('Shahin')
s.add('Lupin')
s.add('Alvi')
print(s)

{'Shahin', 'Alvi', 'Lupin'}

# update(x,y,z) : 
1. To add multiple items to the set
2. all elements present in the given iterable objects will be added to the set.
3. Argumeents are not individual elements and these are iterable objects like List,range etc.

In [12]:
s = {100,200,300}
l = [40,50,60,10]
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 100, 4, 200, 40, 10, 300, 50, 60}

In [14]:
s.update(range(1,10,2),range(0,10,2))
print(s)

{0, 1, 2, 3, 100, 4, 5, 7, 200, 40, 10, 9, 300, 6, 8, 50, 60}

In [16]:
s={'shahin','lupin'}
l = ['bithi','Tony','Jisan']
s.update(l)
print(s)

{'Tony', 'Jisan', 'lupin', 'shahin', 'bithi'}

In [17]:
s ={1,2,3}
s.update(range(3,10))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# copy(): 

1. Return copy of the set

2. it's cloned objec

In [22]:
s = {'shahin','lupin','Alvi'}
s1= s.copy()
print(s)
print('address id of s:',id(s))
print()
print('After copy of set element, s to s1:')
print(s1)
print('address id of s1:', id(s1))

{'lupin', 'Alvi', 'shahin'}
address id of s: 2260485896008

After copy of set element, s to s1:
{'lupin', 'Alvi', 'shahin'}
address id of s1: 2260485897576

# pop() :
 1. To remove element and return some random element from the set.

In [24]:
s = {'shahin','lupin','Alvi','Tony'}
print('Before pop set elements are:', s)
print('pop element:', s.pop())
print('After pop set elements are:',s)

Before pop set elements are: {'lupin', 'Tony', 'Alvi', 'shahin'}
pop element: lupin
After pop set elements are: {'Tony', 'Alvi', 'shahin'}

# remove():

1. To remove specified element from the set.

In [26]:
s = {'shahin','lupin','Tony','Jisan'}
print('Before remove the set element:',s)

s.remove('Jisan')
print('After remove the set elements:', s)

Before remove the set element: {'Jisan', 'lupin', 'Tony', 'shahin'}
After remove the set elements: {'lupin', 'Tony', 'shahin'}

# discard():

1.It removes specified element from the set

In [27]:
s = {'shahin','lupin','Tony','Jisan'}
print('Before discard the set element:',s)

s.discard('Jisan')
print('After discard the set elements:', s)

Before discard the set element: {'Jisan', 'lupin', 'Tony', 'shahin'}
After discard the set elements: {'lupin', 'Tony', 'shahin'}

# clear():
 1. To remove all elements from the set

In [29]:
s = {'shahin','lupin','Tony','Jisan'}
print('Before clear the set element:',s)

s.clear()
print('After clear the set elements:', s)

Before clear the set element: {'Jisan', 'lupin', 'Tony', 'shahin'}
After clear the set elements: set()

# Mathematical Functions Of Set:

1. union() --         To represents all the elements present in the both sets.
2. intersection() --  To return common elements present in both sets.
3. x.difference(y) -- To return element present in x not in y.
4. symmetric_difference() -- Return elements present in either x or y but not both.

# union() :
 1. Return all elements present in both sets

In [32]:
s = {'shahin','lupin','alvi'}
n = {'shawon','Tony','Sanvi'}
u = s.union(n)
print('s set elements:',s)
print('n set elements:',n)
print()
print('After union:',u)

s set elements: {'alvi', 'lupin', 'shahin'}
n set elements: {'shawon', 'Sanvi', 'Tony'}

After union: {'alvi', 'shawon', 'lupin', 'Sanvi', 'shahin', 'Tony'}

In [33]:
s1 = {1,2,3}
s2 = {4,5,6}
u = s1.union(s2)
print(s1)
print(s2)
print()
print('After Union:',u)

{1, 2, 3}
{4, 5, 6}

After Union: {1, 2, 3, 4, 5, 6}

# intersection():

1. Return common elements present in both x and y.

In [47]:
s1 = {1,2,3,4}
s2 = {4,5,6,2}
i = s1.intersection(s2)
print('s1:',s1)
print('s2:',s2)
print()
print('After intersection:',i)

s1: {1, 2, 3, 4}
s2: {2, 4, 5, 6}

After intersection: {2, 4}

In [44]:
s = {'shahin','lupin','alvi'}
n = {'shawon','shahin','Tony','Sanvi','lupin'}
i = s.intersection(n)
print('s set elements:',s)
print('n set elements:',n)
print()
print('After intersection:',i)

s set elements: {'alvi', 'lupin', 'shahin'}
n set elements: {'shawon', 'Tony', 'lupin', 'Sanvi', 'shahin'}

After intersection: {'lupin', 'shahin'}

# difference():

1. Return elements present in x but not y.

In [45]:
s = {'shahin','lupin','alvi'}
n = {'shawon','shahin','Tony','lupin'}
d = s.difference(n)
print('s set elements:',s)
print('n set elements:',n)
print()
print('After difference:',d)

s set elements: {'alvi', 'lupin', 'shahin'}
n set elements: {'shawon', 'lupin', 'Tony', 'shahin'}

After difference: {'alvi'}

In [48]:
s1 = {1,2,3,4}
s2 = {4,5,6,2}
d = s1.difference(s2)
print('s1:',s1)
print('s2:',s2)
print()
print('After difference:',d)

s1: {1, 2, 3, 4}
s2: {2, 4, 5, 6}

After difference: {1, 3}

# symmetric_difference():

1. Return elements present in either x or y but not in both.

In [49]:
x = {10,20,30,40}
y = {30,40,50,60}
sd = x.symmetric_difference(y)
sm = x^y 
print('x:',x)
print('y:',y)
print()
print('After symmetric:')
print('sd:',sd)
print('sm of symmetric(^):', sm)

x: {40, 10, 20, 30}
y: {40, 50, 60, 30}

After symmetric:
sd: {10, 50, 20, 60}
sm of symmetric(^): {10, 50, 20, 60}

In [50]:
s = {'shahin','lupin','alvi'}
n = {'shawon','shahin','Tony','lupin'}
sd = s.symmetric_difference(n)
print('s set elements:',s)
print('n set elements:',n)
print()
print('After difference:',sd)

s set elements: {'alvi', 'lupin', 'shahin'}
n set elements: {'shawon', 'lupin', 'Tony', 'shahin'}

After difference: {'shawon', 'Tony', 'alvi'}

# Membership Operator of Set:

1. in
2. not in

In [54]:
s = set('shahin')
print(s)
m = 's' in s
print(m)
n = 'n' in s
print(n)
nt = 'l' not in s
x = 'i' not in s
print(m)
print(n)
print(nt)
print(x)

{'n', 's', 'a', 'i', 'h'}
True
True
True
True
True
False

# Set Comprehension:

In [55]:
s = {x*x for x in range(5)}
print(s)

{0, 1, 4, 9, 16}

In [56]:
s = {2**x for x in range(2,10,2)}
print(s)

{16, 256, 64, 4}